hot-corner-1 {

  anchor "top-right"
  size 50
  activation-force 999
  output "eDP-1"

  commands {
    enter "notify-send enter"
    leave "notify-send leave"
    edge "notify-send edge"
    scroll-up "notify-send up"
    scroll-down "notify-send down"
    scroll-left "notify-send left"
    scroll-right "notify-send right"
  }

}
